<<<<<<< HEAD
button{
    font-size: 50px;
    background-color: rgb(255, 255, 0);
    border: 20px;
    border-radius: 50%;
    border-color: black;
    
}
button:hover{
    cursor: pointer;
    background-color: red;
}
=======
button{
    font-size: 50px;
    background-color: rgb(255, 255, 0);
    border: 20px;
    border-radius: 50%;
    border-color: black;
    
}
button:hover{
    cursor: pointer;
    background-color: red;
}
>>>>>>> 0485022 (flip game has started. java script in progress)
