h1{
    width: fit-content;
   
}
form{
    background-color: antiquewhite;
    width: fit-content;
    box-shadow: 4px,3px,6px;
    text-align: center;
    align-self: center;
    margin: auto;
    box-shadow: 10px,20px,40px;
}
