#title{
 text-align: center;
 font-size: 100px;
 color:red;
 margin: 0%;
 margin-top: 10%;
 
}
body{
    background-color: antiquewhite
}
#out{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: #99FF99;
    margin: 0%;
    padding: 0%;
    

}
div{
   
    margin: 0%;
    width: fit-content;
     display: flex;
     margin-left: 42%;
     
}
button{
   margin-right: 4%;
   border: solid, blue;
   color: rgb(227, 140, 26);
   border-radius: 50%;

}
button:hover{
    cursor: pointer;
    color: black;
}
img:hover{
     cursor: crosshair;
}

h2{
    color: green;
}