
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121212; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  gap: 30px; 
}

#q, #w {
  position: absolute; 
  width: 250px;
  height: 250px;
  background-color: #2f3640; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
  text-align: center;
 
  transition: border 0.2s ease;
}


#q {
  border-radius: 15px;
}


#w {
  border-radius: 50%;
}

