<<<<<<< HEAD
*{
    margin: 0%;
}
h1{
    font-style: italic;
    width: fit-content;
    margin-left: 40%;
    margin-top: 2%;
}
=======
*{
    margin: 0%;
}
h1{
    font-style: italic;
    width: fit-content;
    margin-left: 40%;
    margin-top: 2%;
}
>>>>>>> 0485022 (flip game has started. java script in progress)
