<<<<<<< HEAD
h1{
    width: fit-content;
    background-color: aqua;
    text-align: center;
    margin-left: 45%;
}
=======
h1{
    width: fit-content;
    background-color: aqua;
    text-align: center;
    margin-left: 45%;
}
>>>>>>> 0485022 (flip game has started. java script in progress)
