<<<<<<< HEAD
img{
    width: 100%;
    height: 25%;
    display: inline;
}
#qw{
    position: sticky;
=======
img{
    width: 100%;
    height: 25%;
    display: inline;
}
#qw{
    position: sticky;
>>>>>>> 0485022 (flip game has started. java script in progress)
}