#main{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    
}
#main2{
    display: flex;
    justify-content: center;
    
}
#main3{
    display: flex;
    justify-content: center;
    
}
#q1,#q2,#q3,#q4,#q5,#q6,#q7,#q8,#q9{
   border: solid;
    height: 56px;
    width: 56px;
   text-align: center;
   padding: 0%;
   margin: 0%;
}
#q1,#q4,#q7{
    border-left: none;
    border-bottom: none;
}
#q1,#q2,#q3{
    border-top: none;
    border-right: none;
}
#q2,#q5,#q8{
    border-bottom: none;
}
#q4,#q5,#q6,#q7,#q8,#q9{
    border-right: none;
}
#q3,#q6,#q9{
    border-bottom: none;
}
#q1,#q2,#q3,#q4,#q5,#q6,#q7,#q8,#q9:hover{
    cursor: pointer;
}